<h1>Sentences一覧</h1>
<table>
  <tr>
    <th>つぶやき</th>
  </tr>

<% @sentences.each do |sentence| %>
  <tr>
    <td><%= sentence.content %></td>
    <td><%= link_to '詳細を確認する', sentence_path(sentence.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくつぶやきを投稿する', new_sentence_path %>
